{% extends "/front/layout.html.twig" %}

{% block title %}
    Les {{textType}}s
{% endblock %}

{% block separator %}
    <div id="separator01"></div>
{% endblock %}

{% block script %}
    <script src="js/navbar.js"></script>
{% endblock %}

{% block content %}
    <div id="sectionImg">
        <img class="rubricImg" src="images/{{magazine.cover}}" alt="{{magazine.cover}}">
    </div>
        <section id="listRubric">
             
            <div id="titleRubric"><h1>LES {{textType |upper }}S</h1><div id="separator02"></div></div>

            <div id="pageMovers{% if totalpages < 2 %}Hidden{% endif %}">
                <a class="fa fa-arrow-circle-o-left {% if currentpage == 1 %} hidden {% endif %}" href="index.php?action=articles&amp;value={{magazine.id_mag}}&amp;value2=2&amp;currentpage={{currentpage - 1}}"></a>
                <span>Page {{currentpage}}/{{totalpages}}</span> 
                <a class="fa fa-arrow-circle-o-right {% if currentpage == totalpages %} hidden {% endif %}" href="index.php?action=articles&amp;value={{magazine.id_mag}}&amp;value2=2&amp;currentpage={{currentpage + 1}}"></a>
            </div>

            {% for article in articles %}
            
                <a class="containerRubric" href="index.php?action=article&amp;value={{article.id_text}}&amp;value2={{article.numberMag}}">
                    <div id="chronicImgs" class="containImg">
                        <img class="thumbImg" src="images/{{article.articleCover}}" alt="{{article.articleCover}}">
                    </div>
                    <div id="rubricText" class="containText">
                        <div class="textInfo">
                            <h3 class="number">Magazine N°{{article.numberMag}}</h3>
                            <h3 class="title">{{article.title}}</h3>
                            <p class="extract">
                                {{article.teaser}}
                            </p>
                        </div>
                    </div>
                </a>
           
            {% endfor %}

            <div id="pageMovers{% if totalpages < 2 %}Hidden{% endif %}">
                <a class="fa fa-arrow-circle-o-left {% if currentpage == 1 %} hidden {% endif %}" href="index.php?action=articles&amp;value={{magazine.id_mag}}&amp;value2=2&amp;currentpage={{currentpage - 1}}"></a>
                <span>Page {{currentpage}}/{{totalpages}}</span> 
                <a class="fa fa-arrow-circle-o-right {% if currentpage == totalpages %} hidden {% endif %}" href="index.php?action=articles&amp;value={{magazine.id_mag}}&amp;value2=2&amp;currentpage={{currentpage + 1}}"></a>
            </div>

        </section>
{% endblock %}
