{% extends "/front/layout.html.twig" %}

{% block title %}
    Articles
{% endblock %}

{% block separator %}
    <div id="separator01"></div>
{% endblock %}

{% block script %}
    <script src="js/navbar.js"></script>
{% endblock %}

{% block content %}
    <div id="sectionImg">
        <img class="rubricImg" src="images/{{magazine.cover}}" alt="{{magazine.cover}}">
    </div>
        <section id="listRubric">
             
            <div id="titleRubric"><h1>TOUTES LES {{textType |upper }}S</h1><div id="separator02"></div></div>

            <div id="pageMovers<?php if($totalpages < 2) echo 'Hidden'?>">
                <a class="fa fa-arrow-circle-o-left <?php if($currentpage === 1) echo 'hidden'?>" href="index.php?action=chroniques&amp;currentpage=<?= $currentpage - 1?>&amp;idMag=<?= $magazine[0]->idMag ?>"></a>
                <span><?='Page ' . $currentpage . '/' . $totalpages?></span> 
                <a class="fa fa-arrow-circle-o-right <?php if($currentpage === (int) $totalpages ) echo 'hidden' ?>" href="index.php?action=chroniques&amp;currentpage=<?= $currentpage + 1?>&amp;idMag=<?= $magazine[0]->idMag ?>"></a>
            </div>

            {% for article in articles %}
            
                <a class="containerRubric" href="index.php?action=article&amp;idText=<?= $article->id_text ?>&amp;idMag=<?= $article->idMag ?>">
                    <div id="chronicImgs" class="containImg">
                        <img class="thumbImg" src="images/{{article.articleCover}}" alt="{{article.articleCover}}">
                    </div>
                    <div id="rubricText" class="containText">
                        <div class="textInfo">
                            <h3 class="number">Revue N°{{magazine.numberMag}}</h3>
                            <h3 class="title"><{{article.title}}</h3>
                            <p class="extract">
                                {{article.teaser}}
                            </p>
                        </div>
                    </div>
                </a>
           
            {% endfor %}

            <div id="pageMovers<?php if($totalpages < 2) echo 'Hidden'?>">
                <a class="fa fa-arrow-circle-o-left <?php if($currentpage === 1) echo 'hidden'?>" href="index.php?action=chroniques&amp;currentpage=<?= $currentpage - 1?>&amp;idMag=<?= $magazine[0]->idMag ?>"></a>
                <span><?='Page ' . $currentpage . '/' . $totalpages?></span> 
                <a class="fa fa-arrow-circle-o-right <?php if($currentpage === (int) $totalpages ) echo 'hidden' ?>" href="index.php?action=chroniques&amp;currentpage=<?= $currentpage + 1?>&amp;idMag=<?= $magazine[0]->idMag ?>"></a>
            </div>

        </section>
{% endblock %}
