{% extends "/front/layout.html.twig" %}

{% block title %}
    Les {{rubrique}}s
{% endblock %}

{% block separator %}
    <div id="separator01"></div>
{% endblock %}

{% block script %}
    <script src="js/navbar.js"></script>
    <script src="js/loader.js"></script>
{% endblock %}

{% block content %}

    <div id="containLoader">
        <div id="containCircles">
            <div class="circle"></div>
            <div class="circle"></div>
        </div>
        <span>KILOMETRAGE</span>
        <span class="disclaimer">Un E-Mag qui carbure...</span>
    </div>

    <div id="sectionImg">
        <img class="rubricImg" src="images/{{magazine.cover}}" alt="{{magazine.cover |slice( 0, -4)}}">
    </div>
        <section id="listRubric">
             
            <div id="titleRubric"><h1>LES {{rubrique |upper }}S</h1><div id="separator02"></div></div>

            <div class="pageMovers{% if totalpages < 2 %}Hidden{% endif %}">
                <a class="fa fa-arrow-circle-o-left {% if currentpage == 1 %} hidden {% endif %}" href="index.php?action=articles&amp;idMag={{magazine.id_mag}}&amp;type={{textType}}&amp;currentpage={{currentpage - 1}}"></a>
                <span>Page {{currentpage}}/{{totalpages}}</span> 
                <a class="fa fa-arrow-circle-o-right {% if currentpage == totalpages %} hidden {% endif %}" href="index.php?action=articles&amp;idMag={{magazine.id_mag}}&amp;type={{textType}}&amp;currentpage={{currentpage + 1}}"></a>
            </div>

            {% for article in articles %}
            
                <a class="containerRubric" href="index.php?action=article&amp;idMag={{article.idMag}}&amp;idText={{article.id_text}}">

                    <div class="containImg">

                        <img class="thumbImg" src="images/{{article.articleCover}}" alt="{{article.articleCover |slice( 0, -4)}}">

                    </div>
                    
                    <div class="containText">

                        <div class="textInfo">

                            <h3 class="number">Magazine N°{{article.numberMag}}</h3>
                            
                            <h3 class="title">{{article.title}}</h3>

                            <div class="contentExtract">

                                <span class="extract">
                                    {% if not article.teaser %}Pas de résumé disponible...{% else %}{{article.teaser}}{% endif %}
                                </span>
                                
                            </div>
                        </div>
                    </div>
                </a>
           
            {% endfor %}

            <div class="pageMovers{% if totalpages < 2 %}Hidden{% endif %}">
                <a class="fa fa-arrow-circle-o-left {% if currentpage == 1 %} hidden {% endif %}" href="index.php?action=articles&amp;idMag={{magazine.id_mag}}&amp;type={{textType}}&amp;currentpage={{currentpage - 1}}"></a>
                <span>Page {{currentpage}}/{{totalpages}}</span> 
                <a class="fa fa-arrow-circle-o-right {% if currentpage == totalpages %} hidden {% endif %}" href="index.php?action=articles&amp;idMag={{magazine.id_mag}}&amp;type={{textType}}&amp;currentpage={{currentpage + 1}}"></a>
            </div>

        </section>
{% endblock %}
