{% extends "/front/layout.html.twig" %}

{% block title %}
    Courrier des lecteurs
{% endblock %}

{% block separator %}
    <div id="separator01"></div>
{% endblock %}

{% block script %}
    <script src="js/navbar.js"></script>
{% endblock %}

{% block content %}

        <div id="sectionImg">
            <img class="rubricImg" src="images/{{magazine.cover}}" alt="{{magazine.cover |slice( 0, -4)}}">
        </div>  

        <section id="article">

            <div id="titleArticle">
                <a href="index.php?action=magByNumber&amp;idMag={{magazine.id_mag}}&amp;numberMag={{magazine.numberMag}}"><h3>Magazine N°{{magazine.numberMag}}</h3></a>
                <h1>TOUS LES COURRIERS</h1>
                <a href="index.php?action=magByNumber&amp;idMag={{magazine.id_mag}}&amp;numberMag={{magazine.numberMag}}"><h3>Magazine N°{{magazine.numberMag}}</h3></a>
                <div id="separator02"></div>
            </div>

            {% if user %}
                <a class="countLinks" href="index.php?action=nousEcrire&amp;idMag={{magazine.id_mag}}">Nous écrire un courrier</a>
            {% endif %}
            
            {% if not letters %}
                <h2 id="noLetters">Aucun courrier à ce jour</h2>
            {% else %}

                <div class="pageMovers{% if totalpages < 2 %}Hidden{% endif %}">
                    <a class="fa fa-arrow-circle-o-left {% if currentpage == 1 %} hidden {% endif %}" href="index.php?action=courrier&amp;idMag={{magazine.id_mag}}&amp;currentpage={{currentpage - 1}}"></a>
                    <span>Page {{currentpage}}/{{totalpages}}</span> 
                    <a class="fa fa-arrow-circle-o-right {% if currentpage == totalpages %} hidden {% endif %}" href="index.php?action=courrier&amp;idMag={{magazine.id_mag}}&amp;currentpage={{currentpage + 1}}"></a>
                </div>
             
            {% for letter in letters %}
                <div class="lettersAll">
                    <div class="readerLetter">
                        <h2>Courrier du {{letter.post_date |date("d/m/Y", "Europe/Paris")}} envoyé par {{letter.author}} à propos {% if letter.magRelated == 1000 %}du site{% elseif letter.magRelated == 1001 %}de l'actualité{% else %}du magazine n°{{letter.magRelated}}{% endif %} :</h2>
                        <span>{{decode(letter.content)}}</span>
                    </div>
                    <div class="responseLetter">
                        <h2>Notre réponse :</h2>
                        <span>{{decode(letter.response) |raw}}</span>
                    </div> 
                </div>
            {% endfor %}

                <div class="pageMovers{% if totalpages < 2 %}Hidden{% endif %}">
                    <a class="fa fa-arrow-circle-o-left {% if currentpage == 1 %} hidden {% endif %}" href="index.php?action=courrier&amp;idMag={{magazine.id_mag}}&amp;currentpage={{currentpage - 1}}"></a>
                    <span>Page {{currentpage}}/{{totalpages}}</span> 
                    <a class="fa fa-arrow-circle-o-right {% if currentpage == totalpages %} hidden {% endif %}" href="index.php?action=courrier&amp;idMag={{magazine.id_mag}}&amp;currentpage={{currentpage + 1}}"></a>
                </div>

            {% endif %}
        </section>

{% endblock %}