<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>{% block title %}{% endblock %}</title>
        <script defer src="https://friconix.com/cdn/friconix.js"></script>
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="./styles/front/styleFront.css">
    </head>
    <body>
        <nav id="navBar">
        {% if preview == 1 %}
            <div id="navTop">
                <a class="navTopLink" >Qui sommes nous?</a>
                <a class="navTopLink" >Nous rejoindre</a>
                <a class="navTopLink" >Se connecter</a>
            </div>
            <div id="logo" ><?= $separator ?><span>KILOMETRAGE</span></div>
            <div id="navLinks">
                <a class="navBottomLink" >MAGAZINE</a>
                <a class="navBottomLink" >CHRONIQUES</a>
                <a class="navBottomLink" >ESSAIS</a>
                <a class="navBottomLink" >FICTIONS</a>
                <!--<a class="navBottomLink fa fa-search"></a>-->
            </div>           
            <div id="popupInfos">
                <p>infos</p>
            </div>
        {% else %}
                <div id="navTop">

                <a class="navTopLink" href="index.php?action=quiSommesNous&amp;value={{magazine.id_mag}}">Qui sommes nous?</a>
                
                {% if user %}
                    <a class="navTopLink" href="index.php?action=monCompte&amp;value={{magazine.id_mag}}">Mon compte ( {{user.pseudo}} )</a>
                {% else %}
                    <a class="navTopLink" href="index.php?action=nousRejoindre&amp;value={{magazine.id_mag}}">Nous rejoindre</a>
                    <a class="navTopLink" href="index.php?action=connectionPage&amp;value={{magazine.id_mag}}">Se connecter</a>
                 {% endif %}

            </div>
            <div id="logo">{% block separator %}{% endblock %}<span>KILOMETRAGE</span></div>
            <div id="navLinks">
                <a class="navBottomLink{% if active == 1 %} active {% endif %}" href="index.php">MAGAZINES</a>
                <a class="navBottomLink{% if active == 2 %} active {% endif %}" href="index.php?action=articles&amp;value={{magazine.id_mag}}&amp;value2=2">CHRONIQUES</a>
                <a class="navBottomLink{% if active == 3 %} active {% endif %}" href="index.php?action=articles&amp;value={{magazine.id_mag}}&amp;value2=3">ESSAIS</a>
                <a class="navBottomLink{% if active == 4 %} active {% endif %}" href="index.php?action=articles&amp;value={{magazine.id_mag}}&amp;value2=4">FICTIONS</a>
                <!--<a class="navBottomLink fa fa-search"></a>-->
            </div>           
        {% endif %}
        </nav>

        {% block content %}{% endblock %}

        <footer>
            <div id="media"><a class="fa fa-facebook-square" href=""></a><a class="fa fa-twitter-square" href=""></a><a class="fa fa-youtube-square" href=""></a></div>
        </footer>

        {% block script %}{% endblock %}
        
    </body>
</html>