{% extends "/front/layout.html.twig" %}

{% block title %}
    Liste des magazines
{% endblock %}

{% block separator %}

{% endblock %}

{% block script %}
    <script src="js/navbar.js"></script>
{% endblock %}

{% block content %}
    <div id="sectionImg">
        <img class="rubricImg" src="images/{{magazine.cover}}" alt="{{magazine.cover}}">
    </div>

    <section id="listRubric">
            
        <div id="titleRubric"><h1>LES MAGAZINES</h1><div id="separator02"></div></div>

        <div id="pageMovers{% if totalpages < 2 %}Hidden{% endif %}">
            <a class="fa fa-arrow-circle-o-left {% if currentpage == 1 %} hidden {% endif %}" href="index.php?action=magazines&amp;idMag={{magazine.id_mag}}&amp;currentpage={{currentpage - 1}}"></a>
            <span>Page {{currentpage}}/{{totalpages}}</span> 
            <a class="fa fa-arrow-circle-o-right {% if currentpage == totalpages %} hidden {% endif %}" href="index.php?action=magazines&amp;idMag={{magazine.id_mag}}&amp;currentpage={{currentpage + 1}}"></a>
        </div>

        {% for mag in magazines %}

            <a class="containerRubric" href="index.php?action=magByNumber&amp;idMag={{mag.id_mag}}&amp;numberMag={{mag.numberMag}}">
                <div id="chronicImgs" class="containImg">
                    <img class="thumbImg" src="images/{{mag.cover}}" alt="{{mag.cover}}">
                </div>
                <div id="rubricText" class="containText">
                    <div class="textInfo">
                        <h3 class="number">Magazine N°{{mag.numberMag}}</h3>
                        <h3 class="date">{{mag.publication}}</h3>
                        <h3 class="titles">{{mag.title01}}</h3>
                        <h3 class="titles">{{mag.title02}}</h3>
                        <span>{{mag.chroniqueNb}}</span>
                    </div>
                </div>
            </a>
        
        {% endfor %}

        <div id="pageMovers{% if totalpages < 2 %}Hidden{% endif %}">
            <a class="fa fa-arrow-circle-o-left {% if currentpage == 1 %} hidden {% endif %}" href="index.php?action=magazines&amp;idMag={{magazine.id_mag}}&amp;currentpage={{currentpage - 1}}"></a>
            <span>Page {{currentpage}}/{{totalpages}}</span> 
            <a class="fa fa-arrow-circle-o-right {% if currentpage == totalpages %} hidden {% endif %}" href="index.php?action=magazines&amp;idMag={{magazine.id_mag}}&amp;currentpage={{currentpage + 1}}"></a>
        </div>

    </section>
{% endblock %}