{% extends "/front/layout.html.twig" %}

{% block title %}
    Liste des magazines
{% endblock %}

{% block separator %}

{% endblock %}

{% block script %}
    <script src="js/navbar.js"></script>
    <script src="js/animation.js"></script>
{% endblock %}

{% block content %}

    <div id="containLoader">
        <div id="containCircles">
            <div class="circle"></div>
            <div class="circle"></div>
        </div>
        <span>KILOMETRAGE</span>
    </div>

    <div id="sectionImg">
        <img class="rubricImg" src="images/{{magazine.cover}}" alt="{{magazine.cover |slice( 0, -4)}}">
    </div>

    <section id="listRubric">
            
        <div id="titleRubric"><h1>LES MAGAZINES</h1><div id="separator02"></div></div>

        <div class="pageMovers{% if totalpages < 2 %}Hidden{% endif %}">
            <a class="fa fa-arrow-circle-o-left {% if currentpage == 1 %} hidden {% endif %}" href="index.php?action=magazines&amp;idMag={{magazine.id_mag}}&amp;currentpage={{currentpage - 1}}"></a>
            <span>Page {{currentpage}}/{{totalpages}}</span> 
            <a class="fa fa-arrow-circle-o-right {% if currentpage == totalpages %} hidden {% endif %}" href="index.php?action=magazines&amp;idMag={{magazine.id_mag}}&amp;currentpage={{currentpage + 1}}"></a>
        </div>

        {% for mag in magazines %}

            <a class="containerRubric" href="index.php?action=magByNumber&amp;idMag={{mag.id_mag}}&amp;numberMag={{mag.numberMag}}">
                <div class="containImg">
                    <img class="thumbImg" src="images/{{mag.cover}}" alt="{{mag.cover |slice( 0, -4)}}">
                </div>
                <div class="containText">

                    <div class="textInfo">
                        <div class="numberAndDate">
                            <h3 class="numberMag">Magazine N°{{mag.numberMag}}</h3>
                            <h3 class="date">{{mag.publication}}</h3>
                        </div>
                        <h3 class="titles">{{mag.title01}}</h3>
                        <h3 class="titles">{{mag.title02}}</h3>
                        <div class="magContent">
                            {% if mag.chroniqueNb %}
                                <span class="articleContent">{{mag.chroniqueNb}} Chroniques</span>
                            {% endif %}
                            {% if mag.essaiNb %}
                                <span class="articleContent">{{mag.essaiNb}} Essais</span>
                            {% endif %}
                            {% if mag.fictionNb %}
                                <span class="articleContent">{{mag.fictionNb}} Fictions</span>
                            {% endif %}
                        </div>
                    </div>
                </div>
            </a>
        
        {% endfor %}

        <div class="pageMovers{% if totalpages < 2 %}Hidden{% endif %}">
            <a class="fa fa-arrow-circle-o-left {% if currentpage == 1 %} hidden {% endif %}" href="index.php?action=magazines&amp;idMag={{magazine.id_mag}}&amp;currentpage={{currentpage - 1}}"></a>
            <span>Page {{currentpage}}/{{totalpages}}</span> 
            <a class="fa fa-arrow-circle-o-right {% if currentpage == totalpages %} hidden {% endif %}" href="index.php?action=magazines&amp;idMag={{magazine.id_mag}}&amp;currentpage={{currentpage + 1}}"></a>
        </div>

    </section>
{% endblock %}