{% extends "/front/layout.html.twig" %}

{% block title %}
    Kilométrage
{% endblock %}

{% block separator %}

{% endblock %}

{% block script %}
    <script src="js/navbar.js"></script>
    <script src="js/observer.js"></script>
    <script src="js/animation.js"></script>
    <script src="js/infoBox.js"></script>
    <script src="js/fetch.js"></script>
    <script src="js/meteo.js"></script>
    <script src="js/mainMeteo.js"></script>
{% endblock %}

{% block content %}
        
        <div id="containLoader">
            <div id="containCircles">
                <div class="circle"></div>
                <div class="circle"></div>
            </div>
            <span>KILOMETRAGE</span>
        </div>
        
        <header>
            <span id="number" class="lefters">Magazine numéro {{magazine.numberMag}}</span>

            {% if magazine.publication %}
            <span id="publication" class="righters">{{magazine.publication |date("m/Y", "Europe/Paris")}}</span>
            {% endif %}

            {% if magazine.title01 %}
            <span id="title01" class="lefters">{{magazine.title01}}</span>
            {% endif %}

            {% if magazine.title02 %}
            <span id="title02" class="lefters">{{magazine.title02}}</span>
            {% endif %}

            <img id="headerImg" class="downers" src="images/{{magazine.cover}}" alt="{{magazine.cover |slice( 0, -4)}}">
            
            <a class="fa fa-arrow-circle-left
            {% if not previous.numberMag  %} hidden {% endif %}" href="index.php?action=magByNumber&amp;idMag={{magazine.id_mag}}&amp;numberMag={{magazine.numberMag - 1}}">
            <div class="infoBox hidden"><span>Magazine précédent</span></div>
            </a>
            
            <a class="fa fa-arrow-circle-right
            {% if not next.numberMag  %} hidden {% endif %}" href="index.php?action=magByNumber&amp;idMag={{magazine.id_mag}}&amp;numberMag={{magazine.numberMag + 1}}">
            <div class="infoBox hidden"><span>Magazine suivant</span></div>
            </a>

        </header>

        <section id="coverPart01" class="topers">
            {% for article in articles %}
                {% if article.main == 1 %}
                   
                    <a id="mainArticle" href="index.php?action=article&amp;idText={{article.id_text}}&amp;idMag={{magazine.id_mag}}">
                        
                        <div class="imgContainer">
                            <img id="mainImg" src="images/{{article.articleCover}}" alt="{{article.articleCover |slice( 0, -4)}}">
                        </div>

                        <h3>{{article.textType}}</h3>
                        
                        <div class="teaser">
                            <h2>{{article.title}}</h2>
                            <span>{{article.teaser}}</span>
                        </div>
                    </a>

                {% endif %}
            {% endfor %}

            {% if magazine.editorial %}
                
                <a id="edito" href="index.php?action=editorial&amp;idMag={{magazine.id_mag}}">
                    <h2><i class="fa fa-bullhorn"></i> Editorial</h2>
                    <hr>
                    <span>
                    {{ extrait(magazine.editorial)}}
                    </span>
                </a>

            {% endif %}
        </section>

        <section id="coverPart02">
            {% for article in articles %}
                {% if article.main == 0 %}

                    <a class="articleCover topers" href="index.php?action=article&amp;idText={{article.id_text}}&amp;idMag={{magazine.id_mag}}">
                        
                        <div class="imgContainer">
                            <img class="articleImg" src="images/{{article.articleCover}}" alt="{{article.articleCover |slice( 0, -4)}}">
                        </div>

                        <h3>{{article.textType}}</h3>

                        <div class="teaser">
                            <h2>{{article.title}}</h2>
                            <span>{{article.teaser}}</span>
                        </div>

                    </a>
                {% endif %}
            {% endfor %}

            <div id="readersLettersAndSocial" class="topers">

                <a id="readersLetters" href="index.php?action=courrier&amp;idMag={{magazine.id_mag}}">
                    
                    <h2><i class="fa fa-envelope"></i> Courrier des lecteurs</h2>
                    <hr>
                    <span>Vous nous écrivez, nous vous répondons. N'hésitez pas à nous rejoindre en créant un compte sur le site. Vous pourrez alors entamer le dialogue!</span>
                
                </a>
                <div id="socialMedia">

                    <a class="fa fa-facebook-square" href=""></a>
                    <a class="fa fa-twitter-square" href=""></a>
                    <a class="fa fa-youtube-square" href=""></a>

                </div>
                <div id="meteoApp">

                    <h2>Le temps à Nantes aujourd'hui</h2>
                    <hr>
                    <img id="icone" src="images/icone.ico"  alt="icone météo">
                    <span id="meteo"></span>

                </div>

            </div>
        </section>

{% endblock %}