{% extends "/front/layout.html.twig" %}

{% block title %}
    Modifier mon {{userData |lower }}
{% endblock %}

{% block separator %}
    <div id="separator01"></div>
{% endblock %}

{% block script %}
    <script src="js/navbar.js"></script>
{% endblock %}

{% block content %}

        <div id="sectionImg">
            <img class="rubricImg" src="images/{{magazine.cover}}" alt="{{magazine.cover}}">
        </div>

        <section id="article">

            <div id="titleArticle">
                <h2></h2>
                <h1>MODIFIER MON {{userData |upper }}</h1>
                <h2></h2>
                <div id="separator02"></div>
            </div>

            <div id="infos">
                <span>
                   Vous pouvez modifier votre {{userData |lower }} à l'aide du formulaire ci-dessous.
                </span>
            </div>

            <span id="error" class="{% if not error %}none{% endif %}">{{error}}</span>

            <form id="formSignIn" action="index.php?action=modifDataUser&amp;idMag={{magazine.id_mag}}&amp;userData={{userData}}" method="post">
                
                <input type="hidden" name="csrf" value="{{token}}">
                
                <label for="password">Veuillez saisir votre Mdp actuel:</label>
                <input type="password" id="password" name="password" maxlength="70" size="70">

                <label for="new">Veuillez entrer un {{userData |lower }}:</label>
                <input type="{% if userData == 'Mot de passe' %}password{% else %}text{% endif %}" id="new" name="new" maxlength="50" size="50">

                <label for="new2">Veuillez confirmer votre {{userData |lower }}:</label>
                <input type="{% if userData == 'Mot de passe' %}password{% else %}text{% endif %}" id="new2" name="new2" maxlength="50" size="50">

                <input type="submit" id="saver" value="Modifier">

            </form>

        </section>
{% endblock %}