{% extends "/front/layout.html.twig" %}

{% block title %}
    Mon compte ({{user.pseudo}})
{% endblock %}

{% block separator %}
    <div id="separator01"></div>
{% endblock %}

{% block script %}
    <script src="js/navbar.js"></script>
{% endblock %}

{% block content %}

        <div id="sectionImg">
            <img class="rubricImg" src="images/{{magazine.cover}}" alt="{{magazine.cover}}">
        </div>

        <section id="article">

            <div id="titleArticle">
                <h2></h2>
                <h1>MON COMPTE</h1>
                <div id="separator02"></div>
                <h2></h2>
            </div>

            <div id="infos">
                <span>
                   <u>Bienvenu sur votre compte Kilométrage.</u><br> 
                   Vous êtes connecté en tant que <b>{{user.pseudo}}</b>.<br>
                   Vous pouvez changer vos informations personnelles, nous envoyer une lettre ou vous abonner à notre newsletter en cliquant sur les liens ci-dessous.
                </span>
            </div>

            {% if message %}
                <span id="message">{{message}}</span>
            {% endif %}

            <div id="infosCount">
                <div id="infosPerso">
                    <h2>Vos informations personnelles</h2>
                    <p class="infos"><b>Pseudo:</b>   {{user.pseudo}}</p>
                    <p class="infos"><b>Mail:</b>   {{user.email}}</p>
                    <p class="infos"><b>Membre depuis le:</b>   {{user.dateUser}}</p>
                    <p class="infos"><b>Newsletter:</b> 
                    {% if user.newsletter == 0 %} 
                        Non abonné
                    {% else %}
                        Abonné
                    {% endif %}
                    </p>

                    <p class="infos"><b>Courrier(s) en attente(s) de validation:</b>
                    {{nbUnpubletters}}
                    </p>

                    <p class="infos"><b>Courrier(s) publié(s):</b>
                    {{nbPubletters}}
                    </p>

                </div>
                <div id="blockLinks">
                    <a class="countLinks" href="index.php?action=modifUser&amp;idMag={{magazine.id_mag}}&amp;userData=Pseudo">Modifier mon pseudo</a>
                    <a class="countLinks" href="index.php?action=modifUser&amp;idMag={{magazine.id_mag}}&amp;userData=Mot de passe">Modifier mon mot de passe</a>
                    <a class="countLinks" href="index.php?action=modifUser&amp;idMag={{magazine.id_mag}}&amp;userData=Email">Modifier mon email</a>
                    <a class="countLinks" href="index.php?action=nousEcrire&amp;idMag={{magazine.id_mag}}">Nous écrire un courrier</a>
                    {% if user.newsletter == 0 %} 
                        <a class="countLinks" href="index.php?action=newsLetterAbo&amp;idMag={{magazine.id_mag}}&amp;message=2">S'abonner à notre newsletter</a>
                    {% else %}
                        <a class="countLinks" href="index.php?action=newsLetterAbo&amp;idMag={{magazine.id_mag}}&amp;message=3">Se désabonner de notre newsletter</a>
                    {% endif %}
                    <a class="countLinks" href="index.php?action=userDeco">Se déconnecter de mon compte</a>
                    <a class="countLinks" id="deleteSelf" href="index.php?action=userDeleteSelf">Supprimmer mon compte</a>
                </div>
            </div>

        </section>
{% endblock %}