{% extends "/front/layout.html.twig" %}

{% block title %}
    Nous rejoindre
{% endblock %}

{% block separator %}
    <div id="separator01"></div>
{% endblock %}

{% block script %}
    <script src="js/navbar.js"></script>
    <script src="js/infoBox.js"></script>
    <script src="js/formSave.js"></script>
    <script src="js/formTest.js"></script>
    <script src="js/mainJoin.js"></script>
{% endblock %}

{% block content %}

        <div id="sectionImg">
            <img class="rubricImg" src="images/{{magazine.cover}}" alt="{{magazine.cover |slice( 0, -4)}}">
        </div>

        <section id="article">

            <div id="titleArticle">
                <h2>KILOMETRAGE</h2>
                <h1>NOUS REJOINDRE</h1>
                <h2>KILOMETRAGE</h2>
                <div id="separator02"></div>
            </div>

            <div id="infos">
                <span>
                    Pour devenir un membre de la communauté Kilométrage rien de plus simple: il vous
                    suffit de remplir le formulaire ci-dessous. Vous pourrez alors nous écrire via la rubrique courrier des
                    lecteurs, pour être éventuellement publié dans le numéro suivant, et vous recevrez, si vous le désirez, notre newsletter.
                    En cas de soucis éventuel dans cette démarche, veuillez contacter l'administrateur du site à kilometrage@truc.com<br>
                    Tous les champs du formulaire sont obligatoires.
                </span>
            </div>

            <span id="error" class="{% if not error %}none{% endif %}">{{error}}</span>
            <span id="errorJs" class="none"></span>

            <h2>Formulaire d'inscription</h2>
            
            <form id="formSignIn" action="index.php?action=addUser&amp;idMag={{magazine.id_mag}} " method="post">
                
                <input type="hidden" name="csrf" value="{{token}}">

                <div class="containInfoBox">
                    <div class="infoBox hidden"><span>Votre pseudo doit avoir au moins 3 caractères et pas plus de 15. Pas de caractères spéciaux. Des chiffres seulement à la fin.</span></div>
                </div>
                <label for="pseudo">Choisissez un pseudo <i class=" fa fa-circle"><i class=" fa fa-info"></i></i></label>
                <input type="text" id="pseudo" name="pseudo" maxlength="15" size="15">
                <span class="pseudoErr none"></span>
                
                <div class="containInfoBox">
                    <div class="infoBox hidden"><span>Veuillez entrer une adresse mail valide, vous recevrez un mail de confirmation pour valider votre inscription.</span></div>
                </div>
                <label for="mail">Entrez votre adresse mail <i class=" fa fa-circle"><i class=" fa fa-info"></i></i></label>
                <input type="text" id="mail" name="mail" maxlength="50" size="50">
                <span class="mailErr none"></span>

                <label for="mail2">Confirmez votre adresse mail</label>
                <input type="text" id="mail2" name="mail2" maxlength="50" size="50">
                
                <div class="containInfoBox">
                    <div class="infoBox hidden"><span>Votre mot de passe doit avoir au moins 8 caractères, pas plus de 50 et doit comporter au moins une majuscule, un caractère spécial et un chiffre.</span></div>
                </div>
                <label for="password">Choisissez un mot de passe <i class=" fa fa-circle"><i class=" fa fa-info"></i></i></label>
                <input type="password" id="password" name="password" maxlength="50" size="50">  
                <span class="passErr none"></span>
                
                <label for="password2">Confirmez votre mot de passe</label>
                <input type="password" id="password2" name="password2" maxlength="50" size="50">

                <span> Vos données personnelles seront stockées sur un serveur par le site Kilométrage pour une durée de 10 ans.<br>
                Vous pourrez y accéder, les modifier ou les supprimmer à tout moment par le biais de la page Mon Compte, une fois celui-ci créé.<br>
                Elles ne seront jamais utilisées à des fins commerciales.</span>

                <label for="check"> J'accepte l'enregistrement de mes données personnelles</label> 
                <input type="checkbox" id="check" name="check" value="checked"> 
                
                <span class="submitErr none"></span>
                <input type="submit" id="saver" name="saver" value="Créer votre compte">
            </form>

        </section>
{% endblock %}