{% extends "/back/layout.html.twig" %}

{% block title %}
    Gestion éditorial du magazine numéro {{magazine.numberMag}}
{% endblock %}

{% block content %}
    <section id="editorialSection">

        <h2>Editorial de la revue numéro {{magazine.numberMag}}</h2>

        <span id="message" class="{% if not message %}none{% endif %}">{{message}}</span>

        <a id="backLink" href="index.php?action=pannelMag&amp;idMag={{magazine.id_mag}}">Retour au panneau de gestion du magazine</a>           
    </section>

    <section id="textEditor">

        <div id="contentContainer02">

            <h3>Contenu de l'éditorial</h3>

            <form id="formEditArticle" action="index.php?action=addEdito&amp;idMag={{magazine.id_mag}}" method="POST">
                <input type="hidden" name="csrf" value="{{token}}">
                
                <input type="submit" name="saveEdito" value="Enregistrer"> 
                
                <textarea id="writtingSpace" name="contentEdito">
                    {{decode(magazine.editorial)}}
                </textarea>
                <input type="submit" name="saveEdito" value="Enregistrer">
            </form>

        </div>
    </section>
{% endblock %}