{% extends "/back/layout.html.twig" %}

{% block title %}
    Gestion article du magazine numéro {{magazine.numberMag}}
{% endblock %}

{% block script %}
    <script src="js/formSave.js"></script>
    <script src="js/infoBox.js"></script>
    <script src="js/mainPannelArticle.js"></script>
{% endblock %}

{% block content %}
    <section id="articleInfos">

        <h2>Article du magazine numéro {{magazine.numberMag}}</h2>

        {% if message %}<span id="message">{{message}}</span>{% endif %}
        {% if error %}<span id="error">{{error}}</span>{% endif %}
        
        <div class="buttonsPannel"> 
            <a class="buttonPannel" id="backLink" href="index.php?action=pannelMag&amp;idMag={{magazine.id_mag}}">Retour au magazine</a>
            <a class="buttonPannel" id="preview" href="index.php?action=previewArticle&amp;idMag={{magazine.id_mag}}&amp;idText={{article.id_text}}" target="_blank">Aperçu</a>
            {% if article.main == 0 %}
            <a class="buttonPannel" id="preview" href="index.php?action=changeMain&amp;idText={{article.id_text}}&amp;idMag={{magazine.id_mag}}">Mettre en une</a>
            {% else %}
            <a class="buttonPannel" id="preview" href="index.php?action=changeMain&amp;idText={{article.id_text}}&amp;idMag={{magazine.id_mag}}">Retirer de la une</a>
            {% endif %}
            <a class="buttonPannel" id="delete" href="index.php?action=deleteArticle&amp;idText={{article.id_text}}&amp;idMag={{magazine.id_mag}}">Supprimer</a>
        </div>
        
        <div id="contentContainer">

            <form id="formMag" method="POST" enctype="multipart/form-data" action="index.php?action=modifyArticle&amp;idText={{article.id_text}}&amp;idMag={{magazine.id_mag}}">
                
            <input type="hidden" name="csrf" value="{{token}}">

            <h3><i class="fa fa-arrow-right"></i> Rubrique de l'article: <i>{% if not article.textType %}Non définie{% else %}{{article.textType}}{% endif %}</i></h3>
                <div class="formRow">
                    <div class="labelInput">
                        <label for="rubric">Modifier la rubrique de l'article:</label>
                        <select list="rubric" name="rubric">
                            <option value="Chronique">Chronique</option>
                            <option value="Essai">Essai</option>
                            <option value="Fiction">Fiction</option>
                        </select>
                    </div>
                    <input type="submit" name="modifRubric" value="Modifier">
                </div>
                
                <h3><i class="fa fa-arrow-right"></i> Titre de l'article: <i>{% if not article.title %}Non défini{% else %}{{article.title}}{% endif %}</i></h3>
                <div class="formRow">
                    <div class="labelInput">
                        <label for="title">Modifier le titre de l'article:<i class=" fa fa-circle"><i class=" fa fa-info"></i><div class="infoBox hidden"><span>70 signes maximum</span></div></i></label>
                        <input type="text" id="title" name="title" maxlength="70" size="70">    
                    </div>
                    <input type="submit" name="modifTitle" value="Modifier">
                </div>
                
                <h3><i class="fa fa-arrow-right"></i> Auteur: <i>{% if not article.author %}Non défini{% else %}{{article.author}}{% endif %}</i></h3>
                <div class="formRow">
                    <div class="labelInput">
                        <label for="author">Modifier le nom de l'auteur:<i class=" fa fa-circle"><i class=" fa fa-info"></i><div class="infoBox hidden"><span>30 signes maximum</span></div></i></label>
                        <input type="text" id="author" name="author" maxlength="30" size="30">    
                    </div>
                    <input type="submit" name="modifAuthor" value="Modifier">
                </div>

                <h3><i class="fa fa-arrow-right"></i> Teaser: <i>{% if not article.teaser %}Non rédigé{% else %}Rédigé{% endif %}</i></h3>
                <div class="formRow">
                    <div class="labelInput">
                        <label for="teaser">Rédiger le teaser:<i class=" fa fa-circle"><i class=" fa fa-info"></i><div class="infoBox hidden"><span>95 signes maximum</span></div></i></label>
                        <input type="text" id="teaser" name="teaser" maxlength="95" size="95" 
                        placeholder="{% if article.teaser %}{{article.teaser}}{% endif %}">    
                    </div>
                    <input type="submit" name="modifTeaser" value="Modifier">
                </div>
                
                <h3><i class="fa fa-arrow-right"></i> Image associée à l'article: <i>{% if not article.articleCover %}Non définie{% else %}Définie{% endif %}</i></h3>
                <div class="formRow">
                    <div class="labelInput">
                        <label for="articleCover">Changer l'image:<i class=" fa fa-circle"><i class=" fa fa-info"></i><div class="infoBox hidden"><span>Uniquement .png ou .jpg</span></div></i></label>
                        <input type="file" id="articleCover" name="articleCover">    
                    </div>
                    <input type="submit" name="modifCover" value="Changer">
                </div>
            </form>

        </div>
    </section>
    
    <section id="textEditor">

        <div id="contentContainer02">

            <h3>Contenu de l'article</h3>

            <form id="formEditArticle" action="index.php?action=addContent&amp;idMag={{magazine.id_mag}}&amp;idText={{article.id_text}}" method="POST">
                
                <input type="hidden" name="csrf" value="{{token}}">
                
                <input type="submit" name="saveContent" value="Enregistrer"> 

                <textarea id="writtingSpace" name="content">
                    {{decode(article.content)}}
                </textarea>
                
                <input type="submit" name="saveContent" value="Enregistrer">
            </form>

        </div>
    </section>
{% endblock %}