{% extends "/back/layout.html.twig" %}

{% block title %}
    Liste et gestion des membres
{% endblock %}

{% block content %}

    <section id="users">
         {% if not users %}
            <h2>Aucun utilisateurs enregistrés</h2>
        {% else %}
            <h2>Gestion des membres</h2>

            <span id="message" class="{% if not message %}none{% endif %}">{{message}}</span>

            <div id="tableContainer">

                <div id="tableTitles">
                    <span class="columnTitle">Pseudo</span>
                    <span class="columnTitle">Date d'inscription</span>
                    <span class="columnTitle">Email</span>
                    <span class="columnTitle">Statut</span>
                    <span class="columnTitle">Newsletter</span>
                    <span class="columnTitle">Role</span>
                    <span class="columnTitle">Clef</span>
                    <span class="columnTitle"></span>
                </div>

                {% for user in users %}

                    <div class="tableRows">
                        <span class="tableContent">{{user.pseudo}}</span>
                        <span class="tableContent">{{user.inscription_date |date("d/m/Y", "Europe/Paris")}}</span>
                        <span class="tableContent">{{user.email}}</span>
                        <span class="tableContent">{% if not user.actived %}Non activé{% else %}Activé{% endif %}</span>
                        <span class="tableContent">{% if user.newsletter == 0 %}Non abonné{% else %}Abonné{% endif %}</span>
                        <span class="tableContent">{% if user.role == 0 %}Membre{% else %}Administrateur{% endif %}</span>
                        <span class="tableContent">{{user.confirmkey}}</span>
                        <span class="tableContent delete">
                            <a class="buttonPannel" id="deleteUser" href="index.php?action=deleteUser&amp;idUser={{user.id_user}}">Supprimmer</a>
                        </span>
                        
                    </div>
                {% endfor %}
            </div>

            <div id="pageMovers{% if totalpages < 2 %}Hidden{% endif %}">
                <a class="fa fa-arrow-circle-o-left {% if currentpage == 1 %} hidden {% endif %}" href="index.php?action=usersBack&amp;currentpage={{currentpage - 1}}"></a>
                    <span>Page {{currentpage}}/{{totalpages}}</span> 
                <a class="fa fa-arrow-circle-o-right {% if currentpage == totalpages %} hidden {% endif %}" href="index.php?action=usersBack&amp;currentpage={{currentpage + 1}}"></a>
            </div>
        
        {% endif %}
    </section>

{% endblock %}